@import url('http://fonts.cdnfonts.com/css/graffiti-font');

.wrapper {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.navbar ul{
    position: absolute;
    left: 39%;
    top: 5%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li{
    float:left;
}

@keyframes navbarGlow {
    from {
        color: #0071f2;
    }
    to {
        color: rgb(50, 71, 251);
    }
}

@keyframes navbarZoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes navbarZoomOut {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
  

.navbar a{
    display: block;
    margin-left: 25px;
    animation: navbarZoomOut 0.8s forwards linear;
    background-color: transparent;
    text-decoration: none;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 600;
}

.navbar a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.navbar a:hover{
    animation: navbarGlow 2s forwards, navbarZoomIn 0.8s forwards linear;
    text-shadow: rgb(99, 99, 255) 0px 7px 20px 0px;
}

.navbar a:hover:nth-child(1){
    margin-left: 25px;
}

.logoWrapper {
    position: absolute;
    top: 3%;
}

.logo {
    animation: logoHoverOut forwards 1s;
    position: absolute;
}

.logo:hover {
    animation: logoHover forwards 1s;
}

@keyframes logoHover {
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes logoHoverOut {
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: scale(1);
    }
}


.shopWrapper {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 1000px;
    height: 1000px;
    float: left;
    display: flex;
    justify-content: left;
}

.shopWrapper::after {
    content: "";
    clear: both;
    display: table;
}